

body{
  margin: 0;
  background-color: #d9d9f3;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #7A57D1;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Comfortaa, Cursive;
}

